.image-upload-container {
  text-align: center;
  padding: 20px;
}

.image-upload-input {
  display: none;
}

.image-upload-label {
  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  display: inline-block;
}

.image-upload-label:hover {
  background-color: #115293;
}

.image-upload-preview {
  margin-top: 20px;
  max-width: 100%;
}

.image-upload-message {
  margin-top: 20px;
  color: #1976d2;
}

.image-upload-description {
  margin-top: 10px;
  font-size: 1rem;
  color: #424242;
}
